h3 {
    font-family: 'Montserrat', serif;
    color: rgba(205, 44, 115, 0.95);
    font-size: 1.0em;
    background-color: whitesmoke;
    font-weight: 600;
    padding: 1%;
    border-radius: 10px;
}

p{
    color: whitesmoke;
    font-size: 65%;
    margin-left: 1%;
}

.box {
    background: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 2% 4% 2% 4%;
}

.field{
    margin-bottom: 5%;
}

.col-margin {
    margin: 5%;
}

#map-canvas {
    display: none;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.25em;
    }

    p{
        font-size: 80%;
    }

    #map-canvas{
        display: block;
        margin-left: 0;
        overflow: hidden;

    }
}