h3 {
    color:rgba(205, 44, 115, 0.95);
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    margin-bottom: 4%;
    width: 100%;
}

.table>thead>tr>th{
    font-size: 75%;
}

th {
    color:rgba(205, 44, 115, 0.95) ;
    margin-top: 0;
    padding: 0.5%;
}

tr {
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

td {
    padding: 0.5%;
    font-size: 50%;
}

.input-group>ul li {
    font-size: 85%;
}

.caret {
    color: rgba(205, 44, 115, 0.95);
}

.pagination>li>a {
    background-color: whitesmoke;
    color: rgba(205, 44, 115, 0.95);
}

.pagination>.active>a{
    color: whitesmoke;
    background-color: rgba(205, 44, 115, 0.95);
}

.pagination>li>a:hover{
    color: rgba(205, 44, 115, 0.95);
}

.pagination>.active>a:hover {
    background-color:  rgba(205, 44, 115, 0.80);
}

.settings-menu {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    background: rgba(0,0,0,.65);
    padding: 0;
    border-radius: 10px;
}

.tab-pane {
    margin-top: 4%;
    padding: 2%;
}

.layout {
    float: right;
    margin-bottom: 5%;
}

.search-btn{
    font-family: 'Montserrat', serif;
    background-color: whitesmoke;
    color: rgba(205, 44, 115, 0.95);
}

.search-btn:hover{
    background-color: rgba(205, 44, 115, 0.95);
    color: whitesmoke;
}

.tab-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    visibility: hidden;
    display: none;
}

ul.nav-pills.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.profile-form>.form-control {
    display: inline-block;
    width: auto;
}

.profile-block {
    font-size: 70%;
    color: whitesmoke;
    padding: 1%;
}

.profile-block>.btn {
    float: right;
    margin-bottom: 2%;
    margin-left: 0.5%;
}

.form-control{
    font-size: 80%;
}

.list-button {
    margin: 1%;
    margin-left: 3%;
    width: 90%;
}

.seat-listing {
    overflow: auto scroll;
}

.seat-layout {
    display: none;
}

@media (min-width: 768px) {
    .tab-title{
        display: inline;
        visibility: visible;
    }

    ul.nav-pills.nav-justified>li {
        float: none;
    }
    
    .list-button{
        width: 45%;
    }

    .seat-layout {
        display: block;
    }
}
