<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Reservation Portal</title>
    <meta name="Description" content="Welcome to the online reservation portal!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="../css/base_css.css" rel="stylesheet">
    <link href="../css/setting_css.css" rel="stylesheet">

</head>
<body>
    <div class="menu-bar">
        <a class="menu-icons back-arrow" title="Go back!" href="../index.html"><i class="fa fa-home fa-2x fa-fw"></i></a>
    </div>

    <div class="container settings-menu col-centered">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#reservations"><span class="icon"><i class="fa fa-fax fa-fw"></i></span><i class="tab-title"> Reservations</i></a></li>
            <li><a data-toggle="pill" href="#seating"><span class="icon"><i class="fa fa-list-ul fa-fw"></i></span><i class="tab-title"> Seating</i></a></li>
            <li><a data-toggle="pill" href="#profile"><span class="icon"><i class="fa fa-building fa-fw"></i></span><i class="tab-title"> Profile</i></a></li>
            <li><a data-toggle="pill" href="#settings"><span class="icon"><i class="fa fa-cogs fa-fw"></i></span> <i class="tab-title"> Settings</i></a></li>
        </ul>
        <div class="tab-content">

            <div id="reservations" class="tab-pane fade in active">
                <div class="search-div"> <form onsubmit="">

                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Search using Reservation ID</a></li>
                            <li><a href="#">Search using Name</a></li>
                            <li><a href="#">Search using Date</a></li>
                            <li><a href="#">Search using #Party</a></li>
                        </ul>
                        <input class="form-control" type="text" title="Search using Reservation ID" placeholder="Search using Reservation ID" required>
                        <span class="input-group-addon btn search-btn"><i class="fa fa-search fa-fw"></i></span>
                    </div>
                </form>

                <div>
                    <ul class="pagination pagination-sm pull-right page-nav">
                        <li class="active"><a href="#">1</a> </li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">3</a> </li>
                        <li><a href="#">4</a> </li>
                        <li><a href="#">></a> </li>
                    </ul>
                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                    <tr><th>Rsv #</th> <th>Name</th> <th>Date</th> <th>#</th> <th colspan="2">Details</th></tr>
                    </thead>
                    <tbody><tr>
                        <td>1500400</td>
                        <td>Sai Teja Lingam</td>
                        <td>07/19/2015</td>
                        <td>5</td>
                        <td><a href="#"> Details</a></td>
                        <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                    </tr>
                    <tr>
                        <td>1500396</td>
                        <td>Likhitha Lingam</td>
                        <td>07/17/2015</td>
                        <td>3</td>
                        <td><a href="#"> Details</a></td>
                        <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                    </tr>
                    <tr>
                        <td>1500390</td>
                        <td>Sai Teja Lingam</td>
                        <td>07/17/2015</td>
                        <td>4</td>
                        <td><a href="#"> Details</a></td>
                        <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>

                    </tr>
                    <tr>
                        <td>1500388</td>
                        <td>Shravya Lavu</td>
                        <td>07/12/2015</td>
                        <td>5</td>
                        <td><a href="#"> Details</a></td>
                        <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                    </tr>
                    <tr>
                        <td>1500387</td>
                        <td>Bahubali</td>
                        <td>07/12/2015</td>
                        <td>7</td>
                        <td><a href="#"> Details</a></td>
                        <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div id="seating" class="tab-pane fade col-sm-11 col-centered">
                <div class="seat-listing col-sm-5">
                    <h3>Today's Listing</h3>
                    <table class="table table-condensed">
                        <thead>
                        <tr><th>Table#</th> <th>RsvID</th> <th>Name</th> <th>#</th> <th>Edit</th></tr>
                        </thead>
                        <tbody><tr>
                            <td>R1</td>
                            <td><a href="#">1500400</a> </td>
                            <td>Sai Teja Lingam</td>
                            <td>5</td>
                            <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>

                        </tr>
                        <tr>
                            <td>M1</td>
                            <td><a href="#">1500396</a> </td>
                            <td>Likhitha Lingam</td>
                            <td>3</td>
                            <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                        </tr>
                        <tr>
                            <td>M2</td>
                            <td><a href="#">1500394</a> </td>
                            <td>Sai Teja Lingam</td>
                            <td>4</td>
                            <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                        </tr>
                        <tr>
                            <td>R2</td>
                            <td><a href="#">1500388</a> </td>
                            <td>Shravya Lavu</td>
                            <td>5</td>
                            <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                        </tr>
                        <tr>
                            <td>M4, M5</td>
                            <td><a href="#">1500387</a> </td>
                            <td>Bahubali</td>
                            <td>7</td>
                            <td><a href="#"><i class="fa fa-pencil fa-fw"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7 seat-layout">
                    <h3>Seating Layout</h3>
                    <img src="../images/floor.jpg" width="100%" height="100%" class="layout">
                </div>
            </div>

            <div id="profile" class="tab-pane fade col-sm-11 col-centered">
                <form class="profile-form">
                    <div class="profile-block col-sm-6"><label for="rest_name">Restaurant Name </label><input class="form-control" id="rest_name" type="text" placeholder="La Vostra Cena">
                    <label for="owner_name">Contact Name </label><input type="text"  class="form-control" id="owner_name" placeholder="Sherlock Holmes">
                    <label for="email">Email Address </label><input id="email" class="form-control" type="email" placeholder="sholmes@baker.com">
                    <label for="phone">Phone </label><input id="phone" type="tel"  class="form-control" placeholder="(670)609-3808">
                    </div>
                    <div class="profile-block col-sm-6">
                        <label for="address">Address </label><input type="text" id="address" class="form-control" placeholder="221B Baker Street, London, UK 02415"></input>
                        <label for="open">Open during </label><select id="open"  class="form-control" name="workingdays">
                        <option value="weekdays">Weekdays Only</option>
                        <option value="weekends">Weekends Only</option>
                        <option value="combine">Weekdays + Saturday</option>
                        <option value="always">Everyday (except holidays)</option>
                    </select>

                    <label for="opentime">Open time </label><input  class="form-control" id="opentime" type="time" value="18:00:00">
                    <label for="closetime">Close time </label><input  class="form-control" id="closetime" type="time" value="22:00:00">
                    </div>
                    <div class="profile-block">
                        <button type="submit" class="btn btn-default btn-success">Update</button>
                        <button type="reset" class="btn btn-default btn-danger">Reset</button>
                    </div>
                </form>
            </div>

            <div id="settings" class="tab-pane fade col-sm-11 col-centered">
                <div class="col-sm-8"><div><label class="profile-block">Add Reservation</label> <button class="btn search-btn"><i class="fa fa-plus fa-1x"></i></button></div>
                <div><label class="profile-block" for="portal">Reservation Portal Active</label>
                <input id="portal" type="checkbox" checked data-toggle="toggle" data-size="small"></div>

                <div><label class="profile-block" for="autofill">Autofill</label>
                <input id="autofill" type="checkbox" data-toggle="toggle" data-size="small"></div></div>

                <button class="btn bt-default list-button search-btn">View Mailing List</button>
                <button class="btn btn-default list-button search-btn">View Contact List</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
</body>
</html>