<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Reservation Portal</title>
    <meta name="Description" content="Welcome to the online reservation portal!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="../css/base_css.css" rel="stylesheet">
    <link href="../css/setting_css.css" rel="stylesheet">

</head>
<body>
<div class="menu-bar">
    <a class="btn btn-default btn-sm menu-icons back-arrow" title="Go back!" href="../index.html"><i class="fa fa-arrow-left fa-2x fa-fw"></i></a>
</div>

</body>
</html>