    <div class="container col-sm-8 col-centered">

        <h2><span class="icon"><i class="fa fa-sign-in fa-fw"></i></span> Owner Login</h2>

        <div class="login-box">
            <form>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="User name">
                </div>

                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" placeholder="Password">
                </div>

                <button class="btn btn-default btn-m btn-login" type="submit" >Login</button>
            </form>
        </div>
    </div>
