<div>
    <accordion close-others="oneAtATime">
        <accordion-group is-open="pro_status.open">
            <accordion-heading>
                Restaurant Profile <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': pro_status.open, 'glyphicon-chevron-right': !pro_status.open}"></i>
            </accordion-heading>

            <form class="profile-form error" name="profile-form" ng-submit="profile.updateProfile(profile-form.$valid)" novalidate>
                <div class="row">
                    <div class="profile-block col-xs-12 col-sm-6">

                        <label for="rest_name">Restaurant Name </label>
                        <input class="form-control" id="rest_name" type="text" name="rest_name" ng-model="profile.info.rest_name" required>
                        <div ng-messages="profile-form.rest_name.$error" ng-if="profile-form.rest_name.$dirty">
                            <p ng-message="required">Restaurant name is required!</p>
                        </div>

                        <label for="owner_name">Contact Name </label>
                        <input type="text" class="form-control" id="owner_name" name="owner_name" ng-model="profile.info.owner_name" required>
                        <div ng-messages="profile-form.owner_name.$error" ng-if="profile-form.owner_name.$dirty">
                            <p ng-message="required">Contact name is required!</p>
                        </div>

                        <label for="email">Email Address </label>
                        <input id="email" class="form-control" type="email" name="email" ng-model="profile.info.email" required>
                        <div ng-messages="profile-form.email.$error" ng-if="profile-form.email.$dirty">
                            <p ng-message="required">Email is required!</p>
                            <p ng-message="email">Email must be valid!</p>
                        </div>

                        <label for="phone">Phone </label>
                        <input id="phone" type="tel" class="form-control" name="contact" ng-model="profile.info.contact" required ng-pattern="/^[0-9]{10}$/">
                        <div ng-messages="profile-form.contact.$error" ng-if="profile-form.contact.$dirty">
                            <p ng-message="required">Contact is required!</p>
                            <p ng-message="pattern">Contact must be 10 digits!</p>
                        </div>
                    </div>

                    <div class="profile-block col-xs-12 col-sm-6">
                        <label for="address">Address </label>
                        <input type="text" id="address" class="form-control" name="address" ng-model="profile.info.address" required>
                        <div ng-messages="profile-form.address.$error" ng-if="profile-form.address.$dirty">
                            <p ng-message="required">Address is required!</p>
                        </div>

                        <label for="open">Open during </label>
                        <select id="open" class="form-control" name="open_during" ng-model="profile.info.open_during" required>
                            <option ng-attr-selected="{{profile.info.open_during == 1}}" value="1">Weekdays Only</option>
                            <option ng-attr-selected="{{profile.info.open_during == 2}}" value="2">Weekends Only</option>
                            <option ng-attr-selected="{{profile.info.open_during == 3}}" value="3">Weekdays + Saturday</option>
                            <option ng-attr-selected="{{profile.info.open_during == 4}}" value="4">Everyday (except holidays)</option>
                        </select>

                        <label for="opentime">Open time </label>
                        <input class="form-control" id="opentime" type="time" name="open_time" ng-model="profile.info.open_time" required>
                        <div ng-messages="profile-form.open_time.$error" ng-if="profile-form.open_time.$dirty">
                            <p ng-message="required">Open time is required!</p>
                        </div>

                        <label for="closetime">Close time </label>
                        <input class="form-control" id="closetime" type="time" name="close_time" ng-model="profile.info.close_time" required>
                        <div ng-messages="profile-form.close_time.$error" ng-if="profile-form.close_time.$dirty">
                            <p ng-message="required">Close time is required!</p>
                        </div>

                    </div>
                </div>

                <div class="buttons-div">
                    <button type="submit" class="btn btn-default btn-success" ng-disabled="!profile-form.$valid">Update</button>
                </div>
            </form>
        </accordion-group>
        <accordion-group is-open="cus_status.open">
            <accordion-heading>
                Customer Info <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': cus_status.open, 'glyphicon-chevron-right': !cus_status.open}"></i>
            </accordion-heading>
            <button class="btn btn-default list-button" ng-click="profile.toggleMail = !profile.toggleMail; profile.toggleContact = false; profile.getMailing()">View Mailing List</button>
            <button class="btn btn-default list-button" ng-click="profile.toggleContact = !profile.toggleContact; profile.toggleMail = false; profile.getContact()">View Contact List</button>
            <hr>
            <div collapse="!profile.toggleMail" class="well well-sm lists">
                <span>Email</span><button class="download-btn">Download .xls</button>
                <table>
                    <tbody>
                    <tr ng-repeat="p in profile.mailingList">
                        <td>{{mailingList.name}}</td>
                        <td>{{mailingList.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div collapse="!profile.toggleContact" class="well well-sm lists">
                <span>Contact</span><button class="download-btn">Download .xls</button>
                <table>
                    <tbody>
                    <tr ng-repeat="p in profile.contactList">
                        <td>{{contactList.name}}</td>
                        <td>{{contactList.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </accordion-group>
    </accordion>
</div>


